# 5. SQL Fundamentals with R

## 5.1. What is SQL?

- Is a domain-specific programming language to store, manipulate and retrieve data in/from relational database systems.
- It includes two main types of statements:
    - Data Definition Language (DDL): To create, alter, or drop data structures in an SQL system
    - Data Manipulating Language (DML): To store, retrieve, modify, delete, insert and update data in database
- Different versions of SQL are being used in different relational database systems (e.g. Oracle, Sql Server, DB2, SQLite)
<br><br>

### 5.1.1. DDL Statements

#### 5.1.1.1. <font color=red>CREATE TABLE</font> : To create a new table in database
- <b>Format:</b>
    - CREATE TABLE table_name (list of columns);
- <b>Example:</b>
    - CREATE TABLE book(
                        book_id PRIMARY KEY,
                        book_title,
                        book_author,
                        book_publisher,
                        book_publish_date
                        );

======================================================================================================================                        
#### 5.1.1.2. <font color=red>ALTER TABLE</font> : To alter (change) structure of a table in database
- <b>Format:</b>
    - ALTER TABLE table_name <b>RENAME TO new_table_name</b>;
    - ALTER TABLE table_name <b>ADD COLUMN (list of columns)</b>;
- <b>Example:</b>
    - ALTER TABLE book RENAME TO books;
    - ALTER TABLE book ADD COLUMN (book_page_number);

======================================================================================================================    
#### 5.1.1.3. <font color=red>DROP TABLE</font> : To drop (delete) a table in database
- <b>Format:</b>
    - DROP TABLE IF EXISTS table_name;
- <b>Example:</b>
    - DROP TABLE IF EXISTS books;

======================================================================================================================                        
### 5.1.2. DML Statements

#### 5.1.2.1. <font color=red>INSERT INTO</font> : To insert a new row into a table in database
- <b>Format:</b>
    - INSERT INTO table_name (list of columns) VALUES (list of values);
- <b>Example:</b>
    - INSERT INTO books (book_id, book_title, book_author, book_publisher, book_publish_date)<br> 
    VALUES (45987, 'War and Peace', 'Leo Tolstoy', 'The Russian Messenger', 1868);

====================================================================================================================== 

#### 5.1.2.2. <font color=red>UPDATE</font> : To update data of an existing row of a table in database
- <b>Format:</b>
    - UPDATE table_name SET col1=val1, col2=val2, ..., coln=valn [WHERE criteria];
- <b>Example:</b>
    - UPDATE books SET book_publish_date=1869 WHERE book_id=45987;

====================================================================================================================== 

#### 5.1.2.3. <font color=red>DELETE</font> : To delete one or more rows of a table in database
- <b>Format:</b>
    - DELETE table_name WHERE criteria;
- <b>Example:</b>
    - DELETE books WHERE book_id=45987;
    - DELETE books WHERE book_author='Leo Tolstoy';

====================================================================================================================== 
#### 5.1.2.4. <font color=red>SELECT</font> : To retrieve one or more rows of a table in database
- <b>Format:</b>
    - SELECT list of columns<br>
    FROM table_name<br>
    WHERE criteria;
- <b>Example:</b>
    - SELECT book_title, book_author FROM books WHERE book_id=45987;
    - SELECT * FROM books WHERE book_author='Leo Tolstoy';

======================================================================================================================

## 5.2. SQLite

- Is a high-reliability, embedded, full-featured, public-domain, SQL database engine. 
- Does not have a separate server process. It reads and writes directly to ordinary disk files.
- Is the most used database engine in the world
    - Android devices
    - iPhone and iOS devices
    - MAC devices
    - Windows10 machines
    - Most television sets and set-top cable boxes
    - Most automotive multimedia systems
    - ...
<br><br>
- RSQLite is the easiest way to use a database from R because the package itself contains SQLite; no external software is needed.

In [1]:
install.packages('RSQLite', repos = "https://cloud.r-project.org")

Installing package into 'C:/Users/nadav.rindler/Documents/R/win-library/3.2'
(as 'lib' is unspecified)
also installing the dependencies 'blob', 'DBI', 'pkgconfig', 'plogr'

  There are binary versions available but the source versions are later:
        binary source needs_compilation
blob     1.0.0  1.1.0             FALSE
DBI      0.6-1    0.7             FALSE
RSQLite  1.1-2    2.0              TRUE

  Binaries will be installed
package 'pkgconfig' successfully unpacked and MD5 sums checked
package 'plogr' successfully unpacked and MD5 sums checked
package 'RSQLite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nadav.rindler\AppData\Local\Temp\2\Rtmpa8TZJd\downloaded_packages

installing the source packages 'blob', 'DBI'

The downloaded source packages are in
	'C:\Users\nadav.rindler\AppData\Local\Temp\2\Rtmpa8TZJd\downloaded_packages'

<font color=blue><br>
- RSQLite is a DBI-compatible interface which means you primarily use functions defined in the DBI package<br>
- So you should always start by loading DBI, not RSQLite
</font>

In [2]:
library(DBI)

In [3]:
RShowDoc("RSQLite", package="RSQLite")

### 5.2.1. dbconnect()

- To create a new SQLite database and assign a filename

In [4]:
db1 <- dbConnect(RSQLite::SQLite(), "mySeconddb.sqlite")

In [5]:
db1

<SQLiteConnection>
  Path: C:\Users\nadav.rindler\Documents\DataViz\DSPL Sept2017\Pre-Course R\mySeconddb.sqlite
  Extensions: TRUE

### 5.2.2. dbWriteTable()

- To copy an R data frame into a SQLite database

In [6]:
dbWriteTable(db1, "mtcars", mtcars, overwrite=T)
dbWriteTable(db1, "iris", iris, overwrite=T)

[1] TRUE

[1] TRUE

In [7]:
# To have a list of tables
dbListTables(db1)

[1] "iris"   "mtcars"

### 5.2.3. dbGetQuery()

- To run a SQL statement (Quesry)

In [8]:
dbGetQuery(db1, 'SELECT * FROM mtcars LIMIT 3')
dbGetQuery(db1, 'SELECT mpg, cyl, qsec, carb FROM mtcars LIMIT 3')

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

  mpg  cyl qsec  carb
1 21.0 6   16.46 4
2 21.0 6   17.02 4
3 22.8 4   18.61 1

In [9]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp > 178')

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [10]:
dbGetQuery(db1, 'SELECT mpg, gear, cyl, hp, wt FROM mtcars WHERE hp <= 100')

  mpg  gear cyl hp wt
1 22.8 4    4   93 2.320
2 24.4 4    4   62 3.190
3 22.8 4    4   95 3.150
4 32.4 4    4   66 2.200
5 30.4 4    4   52 1.615
6 33.9 4    4   65 1.835
7 21.5 3    4   97 2.465
8 27.3 4    4   66 1.935
9 26.0 5    4   91 2.140

In [11]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < 150 AND wt > 2.5')

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [12]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x AND wt > :y',
          params = list(x = 150, y = 2.5))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [13]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp < :x OR wt > :y',
          params = list(x = 100, y = 3.5))

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8

In [14]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp IN (:x, :y, :z)',
          params = list(x = 150, y = 180, z = 175))

dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp = :x OR hp = :y or hp = :z',
          params = list(x = 150, y = 180, z = 175))

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

In [15]:
dbGetQuery(db1, 'SELECT * FROM mtcars WHERE hp BETWEEN :x AND :y',
          params = list(x = 150, y = 180))

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC       15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Dodge Challenger  15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin       15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

### 5.2.4. Batched Query

- <font color=green>If the results do not fit in memory, <b>Batched Query</b> can be used.</font>
- <font color=blue>dbSendQuery()</font>: To run the query with no result returns
- <font color=brown>dbFetch()</font>: To fetch a part of desired result
- <font color=orange>dbClearResults()</font>: To ignore rest of result of a batched query

In [16]:
res <- dbSendQuery(db1, 'SELECT * FROM mtcars')

In [17]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 0 [incomplete]
       Changed: 0

In [18]:
fd <- dbFetch(res, n = 10)
fd

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [19]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 10 [incomplete]
       Changed: 0

In [20]:
fd <- dbFetch(res, n = 5)
fd

                   mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
Merc 280C          17.8 6   167.6 123 3.92 3.44 18.90 1  0  4    4
Merc 450SE         16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
Merc 450SL         17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3
Merc 450SLC        15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3
Cadillac Fleetwood 10.4 8   472.0 205 2.93 5.25 17.98 0  0  3    4

In [21]:
res

<SQLiteResult>
  SQL  SELECT * FROM mtcars
  ROWS Fetched: 15 [incomplete]
       Changed: 0

In [22]:
dbClearResult(res)

In [23]:
res

<SQLiteResult>
EXPIRED

### 5.2.5. dbExecute()

- To run Queries that do not return a tabular result 
    - inserting records into a table
    - updating a table
    - deleting from a table
    - setting engine parameters

In [24]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.2         setosa
2 4.3          3.0         1.1          0.1         setosa
3 4.4          3.0         1.3          0.2         setosa
4 4.4          3.2         1.3          0.2         setosa

In [25]:
dbExecute(db1, 'DELETE FROM iris WHERE "Sepal.Length" < 4.5')

[1] 4

In [26]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species

In [27]:
dbExecute(db1, 'INSERT INTO iris VALUES(4.4, 2.9, 1.4, 0.2, "setosa")')

[1] 1

In [28]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.2         setosa

In [29]:
dbExecute(db1, 'UPDATE iris SET "Petal.Width" = 0.3 WHERE "Sepal.Length" = 4.4')

[1] 1

In [30]:
dbGetQuery(db1, 'SELECT * FROM iris WHERE "Sepal.Length" < 4.5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.4          2.9         1.4          0.3         setosa

In [31]:
dbExecute(db1, 'CREATE TABLE mytable(id INTEGER PRIMARY KEY ASC, name, age)')

[1] 1

In [32]:
dbGetQuery(db1, 'SELECT * FROM mytable')

     id name age

In [33]:
dbExecute(db1, 'INSERT INTO mytable VALUES(1,"Amin", 35)')

[1] 1

In [34]:
dbGetQuery(db1, 'SELECT * FROM mytable')

  id name age
1 1  Amin 35

In [35]:
dbExecute(db1, 'INSERT INTO mytable(name, age) VALUES("John", 19)')

[1] 1

In [36]:
dbGetQuery(db1, 'SELECT * FROM mytable')

  id name age
1 1  Amin 35
2 2  John 19

In [37]:
dbGetQuery(db1, 'SELECT count(*) Num_Rows FROM mytable')
dbGetQuery(db1, 'SELECT sum(age) Total_Age FROM mytable')

  Num_Rows
1 2

  Total_Age
1 54

In [38]:
mydf = dbGetQuery(db1, 'SELECT * FROM mytable')
summary(mydf)

       id           name                age
 Min.   :1.00   Length:2           Min.   :19
 1st Qu.:1.25   Class :character   1st Qu.:23
 Median :1.50   Mode  :character   Median :27
 Mean   :1.50                      Mean   :27
 3rd Qu.:1.75                      3rd Qu.:31
 Max.   :2.00                      Max.   :35

# <font color=red>Exercise 1</font>
- <font color=blue>Create 3 tables called PRODUCT, CUSTOMER and ORDER using given file (customer_Product_order.xlsx).</font>
    - Create tables PRODUCT and CUSTOMER and insert data into them by using <b>dbExecute()</b>.
    - Create table ORDER using <b>dbWriteTable()</b>.<br><br>
- <font color=blue>Then find expected results of the given statements.</font>
    1. The most expensive product
    2. The oldest customer
    3. The minimum amount of sale in an order
    4. Total amount of sale
    5. How much money every customer should pay?


- Have you faced any problem in finding expected results?

In [ ]:
cust = read.csv("cus.csv")
ord = read.csv("order.csv")
prod = read.csv("prod.csv")

head(cust, 2)
head(prod, 2)
head(ord, 2)

In [ ]:
db2 = dbConnect(RSQLite::SQLite(), "mySell.sqlite")

dbWriteTable(db2, "Order", ord)
dbWriteTable(db2, "Customer", cust)
dbWriteTable(db2, "Product", prod)

In [ ]:
dbListTables(db2)

In [ ]:
#dbSendQuery(db2, "")
dbGetQuery(db2, "select * from Product")

In [ ]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
dbGetQuery(db2, paste("select * from product where product_price = ", maxP))

In [ ]:
dbExecute(db2, "insert into product values(130, 'U', 127)")

In [ ]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
dbGetQuery(db2, paste("select * from product where product_price = ", maxP))

In [ ]:
maxP = dbGetQuery(db2, "select max(product_price) from product")
maxP
maxP2 = dbGetQuery(db2, paste("select max(product_price) from product where product_price < ", maxP))
maxP2
dbGetQuery(db2, paste("select * from product where product_price = ", maxP2))

In [ ]:
dbExecute(db2, "ALTER TABLE customer ADD age number;")

In [ ]:
dbGetQuery(db2, "select * from customer")

In [ ]:
dbExecute(db2, "update customer set age = 37 where customer_id = 11111")
dbExecute(db2, "update customer set age = 43 where customer_id = 11112")
dbExecute(db2, "update customer set age = 61 where customer_id = 11113")
dbExecute(db2, "update customer set age = 28 where customer_id = 11114")
dbExecute(db2, "update customer set age = 32 where customer_id = 11115")
dbExecute(db2, "update customer set age = 43 where customer_id = 11116")

In [ ]:
#Average
dbGetQuery(db2, "select avg(age) from customer")
ages = dbGetQuery(db2, "select age from customer")

ages[,1]
#Standard Devation
sd(ages[,1])

In [ ]:
# Q3
dbGetQuery(db2, "select min(order_product_count) from 'order'")

In [ ]:
# Q4
dbGetQuery(db2, "select sum(order_product_count) from 'order'")

In [ ]:
dbGetQuery(db2, "select sum(order_product_count), order_product_id from 'order' 
                group by order_product_id")

In [ ]:
dbGetQuery(db2, "select sum(order_product_count), order_product_id,order_customer_id from 'order' 
                group by order_product_id,order_customer_id
                order by order_customer_id")

## 5.3. Advanced DML Queries

### 5.3.1. ORDER BY
- To sort retrieved data in an appropriate order